@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-fancy: "Rubik";
  --font-sans: "Inter";
}

.page img[src^="/sponsors/"] {
  @apply h-[100px];
}

.page p:has(img[src^="/sponsors/"]) {
  @apply flex flex-wrap gap-4;
}

.markdown-alert {
  @apply border-l-2 pl-2 my-6;

  .markdown-alert-title {
    @apply font-semibold font-fancy text-lg m-0 uppercase;
  }

  p:nth-child(2) {
    @apply mt-0;
  }
}

.markdown-alert-note {
  @apply border-blue-500;

  .markdown-alert-title {
    @apply text-blue-500;
  }
}

.markdown-alert-tip {
  @apply border-green-500;

  .markdown-alert-title {
    @apply text-green-500;
  }
}

.markdown-alert-important {
  @apply border-purple-500;

  .markdown-alert-title {
    @apply text-purple-500;
  }
}

.markdown-alert-warning {
  @apply border-red-500;

  .markdown-alert-title {
    @apply text-red-500;
  }
}

.markdown-alert-caution {
  @apply border-yellow-500;

  .markdown-alert-title {
    @apply text-yellow-500;
  }
}

.prose table {
  @apply block overflow-x-scroll;
}
